route:
  receiver: "mail"
  repeat_interval: 4h
  group_by: [ alertname ]

receivers:
  - name: "mail"
    email_configs:
      - smarthost: "{{ alertmanager_smtp_host }}"
        auth_username: "{{ alertmanager_smtp_user }}"
        auth_password: "{{ alertmanager_smtp_password }}"
        from: "{{ alertmanager_smtp_from_email }}"
        to: "{{ alertmanager_smtp_to_email }}"